[submodule "axl"]
	path = axl
	url = git@github.com:wandns/axl.git
	pushurl = git@github.com:wandns/axl.git
[submodule "doxyrest"]
	path = doxyrest
	url = git@github.com:wandns/doxyrest.git
	pushurl = git@github.com:wandns/doxyrest.git
