[submodule "axl"]
	path = axl
    url = https://github.com/wandns/axl.git
    pushurl = https://github.com/wandns/axl.git
[submodule "doxyrest"]
	path = doxyrest
    url = https://github.com/wandns/doxyrest.git
    pushurl = https://github.com/wandns/doxyrest.git
